<!-- <button class="btn btn-primary" (click)="encryptUsingAES256()">Increment</button> -->
<!-- <button class="btn btn-primary" (click)="generate()">Generate</button> -->
<app-reviews-ratings></app-reviews-ratings>
<app-services *ngIf="((user$ | async)!= null && (user$ | async).isCustomer) || (user$ | async) == null"></app-services>
<app-vendor-stats *ngIf="((user$ | async)!= null && !(user$ | async).isCustomer)"></app-vendor-stats>
<!-- <mat-card class="example-card" *ngFor="let service of services$ | async">
  <mat-card-title>{{service.name}}</mat-card-title>
  <mat-card-subtitle>{{service.rate}}</mat-card-subtitle>
  <mat-card-content>
    <p>This card indeterminates progress bar.</p> -->
<!-- <p>{{longText}}</p> -->
<!-- </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row">
      <button mat-button color="warn" (click)="onAddToCart(service)" *ngIf="service.quantity === 0">Add to
        Cart</button>
      <div fxLayout="row" *ngIf="service.quantity > 0">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
          (click)="decreaseQuantity(service)">
          <mat-icon>remove</mat-icon>
        </button>
        <h4>{{service.quantity}}</h4>
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
          (click)="service.quantity= service.quantity + 1">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <button mat-button>SHARE</button>
    </div>
  </mat-card-actions>
</mat-card> -->
<!-- 
<app-message [messages$]="messages$"></app-message> -->