<div fxLayout="row wrap" fxLayoutAlign="center center" class="m-5">
    <div *ngFor="let service of services$ | async" style="margin-bottom: 15px !important; margin-right: 20px;">
        <mat-card style="border-radius: 5px;">
            <mat-card-title>{{service.name}}</mat-card-title>
            <!-- <mat-card-content> -->
            <!-- <img mat-card-image src="assets/images/2.jpg" style="width: 112%;"> -->
            <!-- </mat-card-content> -->
            <mat-card-actions>
                <button mat-button color="warn" (click)="onAddToCart(service)" *ngIf="service.quantity === 0">Add to
                    Cart</button>
                <div fxLayout="row" *ngIf="service.quantity > 0">
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                        (click)="decreaseQuantity(service)">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <h4>{{service.quantity}}</h4>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                        (click)="service.quantity= service.quantity + 1">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <button mat-button style="float: right;">View Ratings</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>