<ng-container *ngIf="showCart">
    <div fxLayout="column" *ngIf="(items$ | async)!= null">
        <mat-card class="example-card" *ngFor="let item of items$ | async">
            <mat-card-title>{{item.service.name}}</mat-card-title>
            <mat-card-subtitle>{{item.service.rate}}</mat-card-subtitle>
            <mat-card-content>
                <p>{{item.date}}</p>
                <p>{{item.quantity}}</p>
                <p>{{longText}}</p>
            </mat-card-content>
        </mat-card>
        <app-message [messages$]="messages$"></app-message>
        <button mat-raised-button type="submit" color="primary" (click)="showCart=false">Go to Checkout</button>
    </div>
</ng-container>
<!-- <app-loading [show$]="loading$"></app-loading> -->

<div class="container pt-3">
    <mat-stepper labelPosition="bottom" #stepper *ngIf="!showCart">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your details</ng-template>
                <div fxLayout="column" fxLayoutGap="3px">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Address Line 1</mat-label>
                        <input matInput placeholder="Address Line 1" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Address Line 2</mat-label>
                        <input matInput placeholder="Address Line 2" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="City" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="State" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Pincode</mat-label>
                        <input matInput placeholder="Pincode" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email Address</mat-label>
                        <input matInput placeholder="Email Address" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Phone no.</mat-label>
                        <input matInput placeholder="Phone No." formControlName="firstCtrl" required>
                    </mat-form-field>
                    <div>
                        <button mat-stroked-button class="m-3" color="primary" matStepperNext>Next</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Choose Payment method</ng-template>
                <div role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="p-4">
                                <mat-radio-group fxLayout="column" fxLayoutGap="3px" aria-label="Select an option">
                                    <mat-radio-button value="1">COD</mat-radio-button>
                                    <mat-radio-button value="2">Online (Debit/Credit)</mat-radio-button>
                                </mat-radio-group>
                                <div class="container p-5">
                                    <div fxLayout="column" fxLayoutGap="3px">
                                        Account Number
                                        <mat-form-field appearance="fill">
                                            <input matInput placeholder="Account Number" formControlName="firstCtrl"
                                                required>
                                        </mat-form-field>
                                        <div fxLayout="row" fxLayoutGap="5px">
                                            <div>Expiry Date</div>
                                            <div>CVV</div>
                                        </div>
                                        <div fxLayout="row" fxLayoutGap="3px">
                                            <mat-form-field appearance="fill">
                                                <input matInput placeholder="Expiry Date" formControlName="firstCtrl"
                                                    required>
                                            </mat-form-field>
                                            <mat-form-field appearance="fill">
                                                <input matInput placeholder="CVV" formControlName="firstCtrl" required>
                                            </mat-form-field>
                                        </div>
                                        Account Holder
                                        <mat-form-field appearance="fill">
                                            <input matInput placeholder="Account Holder" formControlName="firstCtrl"
                                                required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <button mat-stroked-button class="m-3" color="primary"
                                        matStepperPrevious>Back</button>
                                    <button mat-stroked-button color="primary" matStepperNext>Next</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-stroked-button class="m-3" color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button type="submit" color="primary" (click)="onPlaceOrder()">Place Order</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>