<div fxLayout="column">
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
                <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}">
                    <mat-icon>star</mat-icon>
                </li>
            </ul>
        </div>
    </div>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Comment</mat-label>
        <input matInput type="text" [(ngModel)]="comment">
    </mat-form-field>
</div>