<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">ServeMe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div fxLayoutAlign="center center">
        <button mat-button [matMenuTriggerFor]="menu">Search</button>
      </div>
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="search" placeholder="search here" class="search-input">
      </mat-form-field>
      <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item>By Ratings</button>
        <button mat-menu-item>By Service</button>
        <button mat-menu-item>By Vendor</button>
      </mat-menu> -->
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/cart']">View Cart</a>
          </li>
          <li>
            <a> <span class="material-icons" [matMenuTriggerFor]="menu">person</span>
            </a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/profile']">View Profile</button>
              <ng-container *ngIf="(user$ | async) != null">
                <button mat-menu-item [routerLink]="['/profile']">View Profile</button>
                <button mat-menu-item [routerLink]="['/orders']">Orders</button>
                <button mat-menu-item (click)="onLogOut()">Log out</button>
              </ng-container>
              <button (click)="openDialog()" mat-menu-item *ngIf="(user$ | async) == null">Register/Login</button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>