<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">ServeMe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="cursor: pointer;" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item pt-3" [routerLink]="['/searchvendor']"
            style="margin-right: 10px; font-weight: 400;"
            *ngIf="((user$ | async)!= null && (user$ | async).isCustomer) || (user$ | async) == null">
            <mat-icon>search</mat-icon>
          </li>
          <li class="nav-item pt-3" [routerLinkActive]="['link-active']">
            <span class="text-dark" [routerLink]="['/']"
              style="margin-top: 4px; margin-right: 10px; font-weight: 400;">Home</span>
          </li>
          <li class="nav-item pt-3" [routerLinkActive]="['link-active']">
            <span *ngIf="((user$ | async)!= null && (user$ | async).isCustomer) || (user$ | async) == null"
              [routerLink]="['/cart']" style="margin-top: 4px; margin-right: 10px; font-weight: 400;">View Cart</span>
          </li>
          <li class="nav-item pt-2">
            <span *ngIf="(user$ | async) == null" (click)="openDialog()"
              style="margin-top: 4px; margin-right: 10px; font-weight: 400;">Register/Login</span>
            <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon"
              aria-label="Example icon-button with share icon" *ngIf="(user$ | async) != null">
              <mat-icon>person</mat-icon>
            </button>
            <span *ngIf="(user$ | async) != null" [matMenuTriggerFor]="menu"
              style="margin-top: 4px; margin-right: 10px; font-weight: 400;">{{(user$ |
              async).name}}</span>
            <mat-menu #menu="matMenu">
              <ng-container *ngIf="(user$ | async) != null">
                <button mat-menu-item [routerLink]="['/profile']">View Profile</button>
                <button *ngIf="(user$ | async).isCustomer" mat-menu-item [routerLink]="['/orders']">Orders</button>
                <button mat-menu-item (click)="onLogOut()">Log out</button>
              </ng-container>
            </mat-menu>
            <!-- <a> <span class="material-icons pt-2 pl-2" [matMenuTriggerFor]="menu">person</span>
            </a>
            <mat-menu #menu="matMenu">
              <ng-container *ngIf="(user$ | async) != null">
                <button mat-menu-item [routerLink]="['/profile']">View Profile</button>
                <button mat-menu-item [routerLink]="['/orders']">Orders</button>
                <button mat-menu-item (click)="onLogOut()">Log out</button>
              </ng-container>
              <button (click)="openDialog()" mat-menu-item *ngIf="(user$ | async) == null">Register/Login</button>
            </mat-menu> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between none" style="height: 40px; cursor: pointer;">
  <span style="margin-top: 4px; font-weight: 400;" [routerLink]="['/']">ServeMe</span>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <span [routerLink]="['/searchvendor']" style="margin-top: 4px; margin-right: 10px; font-weight: 400;"
      *ngIf="((user$ | async)!= null && (user$ | async).isCustomer) || (user$ | async) == null">Search
      Vendor</span>
    <span [routerLink]="['/']" style="margin-top: 4px; margin-right: 10px; font-weight: 400;">Home</span>
    <span *ngIf="((user$ | async)!= null && (user$ | async).isCustomer) || (user$ | async) == null"
      [routerLink]="['/cart']" style="margin-top: 4px; margin-right: 10px; font-weight: 400;">View Cart</span>
    <span *ngIf="(user$ | async) == null" (click)="openDialog()"
      style="margin-top: 4px; margin-right: 10px; font-weight: 400;">Register/Login</span>
    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon" *ngIf="(user$ | async) != null">
      <mat-icon>person</mat-icon>
    </button>
    <span *ngIf="(user$ | async) != null" [matMenuTriggerFor]="menu"
      style="margin-top: 4px; margin-right: 10px; font-weight: 400;">{{(user$ |
      async).name}}</span>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="(user$ | async) != null">
        <button mat-menu-item [routerLink]="['/profile']">View Profile</button>
        <button *ngIf="(user$ | async).isCustomer" mat-menu-item [routerLink]="['/orders']">Orders</button>
        <button mat-menu-item (click)="onLogOut()">Log out</button>
      </ng-container>
    </mat-menu>
  </div>

</mat-toolbar> -->