<app-loading [show$]="loading$"></app-loading>
<app-message [messages$]="messages$"></app-message>

<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutGap="10px">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Current Orders
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column" fxLayoutGap="10px">
                    <h5 *ngIf="(currentOrders$ | async).length === 0">No Current Orders found</h5>
                    <mat-accordion *ngFor="let order of currentOrders$ | async" class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Name: {{order.name}} &nbsp;
                                    Total Items: {{order.items.length}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    Date: {{order.date | date:'mediumDate'}}
                                    Address:
                                    {{order.addressLine1}},{{order.addressLine2}},{{order.state}},{{order.city}},{{order.pincode}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div fxLayout="column" fxLayoutGap="10px">
                                <mat-accordion class="example-headers-align" multi>
                                    <mat-expansion-panel *ngFor="let item of order.items;index as i">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <h4>{{i+1}}. {{item.serviceCategory.name}}</h4>
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                <div fxLayout="row" fxLayoutGap="10px">
                                                    <h4>{{item.date | date:'medium'}}</h4>
                                                    <h4>Cost: {{item.rate | currency}}</h4>
                                                    <h4>Quantity: {{item.quantity}}</h4>
                                                    <button mat-raised-button *ngIf="isCancelModifyAllowed(item)"
                                                        color="primary" (click)="onCancel(item)">Cancel</button>
                                                    <button mat-raised-button *ngIf="isCancelModifyAllowed(item)"
                                                        color="primary" (click)="onModify(item)">Modify</button>
                                                </div>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div fxLayout="column" *ngIf="item.bids.length > 0">
                                            <div fxLayout="row" fxLayoutGap="10px"
                                                *ngFor="let bid of item.bids;index as j">
                                                <h4>
                                                    {{j+1}}. Vendor Name: {{bid.vendorName}}
                                                </h4>
                                                <h4>Amount: {{bid.amount | currency}}</h4>
                                                <button style="float: right;" mat-raised-button *ngIf="item.statusId === 1" color="primary"
                                                    (click)="onConfirmBid(bid)">Confirm Bid</button>
                                                <mat-chip-list aria-label="Fish selection"
                                                    *ngIf="item.vendorId === bid.vendorId">
                                                    <mat-chip color="accent" selected>Confirmed Vendor</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                        <h4 *ngIf="item.bids.length === 0">No bids posted by any vendor at the moment.
                                        </h4>
                                    </mat-expansion-panel>
                                    <!-- <div fxLayout="row" fxLayoutAlign="space-between none">
                                        <h4>{{i+1}}. {{item.name}}</h4>
                                        <h4>{{item.date | date:'medium'}}</h4> -->
                                    <!-- <h4>Address:</h4> -->
                                    <!-- <h4>Quantity: {{item.quantity}}</h4>
                                        <div fxLayout="row" fxLayoutGap="5px">
                                            <button mat-raised-button type="submit" color="primary"
                                                (click)="onModify(item)">Modify</button>
                                        </div>
                                    </div> -->
                                </mat-accordion>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Past Orders
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column" fxLayoutGap="10px">
                    <h5 *ngIf="(pastOrders$ | async).length === 0">No Past Orders found</h5>
                    <mat-accordion *ngFor="let order of pastOrders$ | async" class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{order.address}}
                                    Total Items: {{order.items.length}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{order.date | date:'mediumDate'}}
                                    Address:
                                    {{order.addressLine1}},{{order.addressLine2}},{{order.state}},{{order.city}},{{order.pincode}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div fxLayout="column" fxLayoutGap="10px">
                                <div *ngFor="let item of order.items;index as i" fxLayout="row"
                                    fxLayoutAlign="space-between none">
                                    <h4>{{i+1}}. {{item.serviceCategory.name}}</h4>
                                    <h4>{{item.date | date:'medium'}}</h4>
                                    <h4>Cost: {{item.rate | currency}}</h4>
                                    <h4>Quantity: {{item.quantity}}</h4>
                                    <button mat-raised-button *ngIf="item.reviewRatingId === 0" color="primary"
                                        (click)="onSubmitReview(item)">Provide Feedback</button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Cancelled Orders
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column" fxLayoutGap="10px">
                    <h5 *ngIf="(cancelledOrders$ | async).length === 0">No Cancelled Orders found</h5>
                    <mat-accordion *ngFor="let order of cancelledOrders$ | async" class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Name: {{order.name}} &nbsp;
                                    Total Items: {{order.items.length}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    Date: {{order.date | date:'mediumDate'}}
                                    Address:
                                    {{order.addressLine1}},{{order.addressLine2}},{{order.state}},{{order.city}},{{order.pincode}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div fxLayout="column" fxLayoutGap="10px">
                                <div *ngFor="let item of order.items;index as i" fxLayout="row"
                                    fxLayoutAlign="space-between none">
                                    <h4>{{i+1}}. {{item.serviceCategory.name}}</h4>
                                    <h4>{{item.date | date:'medium'}}</h4>
                                    <h4>Cost: {{item.rate | currency}}</h4>
                                    <h4>Quantity: {{item.quantity}}</h4>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>